@charset "utf-8";
* {margin: 0px;padding: 0px;}

 
html {

}

body{
	background-color: #e7e7e7;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	font-family: 'Geoso', sans-serif;
/* 	-webkit-font-smoothing: subpixel-antialiased; */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}

#inputsection, #outputsection{
	min-height: 100vh;
	text-align: left;
}



#inputsection{
	flex-basis: 30vw;
	padding: 2rem 3rem 3rem 3rem;
	box-sizing: border-box;
	background: #111111;
	color: white;
}

#logo{
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 5.25rem;
}

#logo div{
	color: #111111;
	background: white;
	font-size: 2.0rem;
	font-weight: bold;
	border: 2px solid white;
	padding: .25em;
	font-weight: regular;
	margin-left: 0.2em;
	flex-grow: 1;
	text-align: center;
}

#logo div:first-of-type{
	margin-left: 0;
	padding: 0;
	width: 2.2em;
	background-image: url('../icon.svg');
	background-repeat: no-repeat;
	background-position:center ;
	background-size: 100%;
	flex-grow: 0;
}

#logo img{
	height: 1em;
	display: none;
}


#inputsection section{
	margin-top: 2rem;
}


#description{
	font-weight: 100;
	display: none;
	
}

#fontversion{
	font-family: 'Arcus';
	color: white;
	font-size: 2em;
}

hr{
	border-bottom: 2px solid LightSteelBlue;
	margin-top: 5rem;
}

h2{
	color: LightSteelBlue;
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 1rem;
	font-family: 'GeosoSC', sans-serif;
	text-transform: uppercase;
	font-weight: bold;

}

#input{
	height: 200px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	font-family: 'Geoso';
	font-size: 1em;
	font-weight: 100;
	font-style: italic;
	resize: none;
 	color: white;
	border: 2px solid #cdcdcd;
	padding: 0.5em;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
 	background-color: slategray;
}

button[type=button]{
	margin-top: 1em;
	padding: 0.25em 0.5em 0.5em 0.5em;
	font-size: 1em;
	font-family: 'GeosoSC', sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
/* //	border-radius: 2px; */
	cursor: pointer;
	border: 2px solid slategray;
	background: rgba(112,128,144,0.3);
	color: white;
	

}

button[type=button]:active{
	transform: translateY(2px)
}

/* #justify{
	transform: scale(2);
	transform-origin: left top;
} */


label{
	border: 2px solid slategray;
	padding: 0.25em 0.5em 0.5em 0.5em;
	display: inline-block;
	font-family: "GeosoSC", sans-serif;
	color: white;
	cursor: pointer;
}

label input[type="checkbox"], label input[type="radio"] {
	margin-right: 0.5em;
}



.flex{
	display: flex;
	flex-flow: row nowrap;
/* 	border: 1px solid hotpink; */
	align-items: center;
}

#columnradios :nth-child(1){
	flex-grow: 1;
}

#columnradios :nth-child(2){
	flex-grow: 2;
	margin-left: 0.5rem;
}

#columnradios :nth-child(3){
	flex-grow: 3;
	margin-left: 0.5rem;
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  background: slategray;
  outline: none;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}


#fontsize{
	width: 100%;
}



#columnparameters :nth-child(1){
	flex-grow: 1;
}

#columnparameters :nth-child(2){
	flex-grow: 1;
	margin-left: 0.5rem;
}


#columnparameters :nth-child(3){
	flex-grow: 1;
	margin-left: 0.5rem;
}


#console{
	background: #111111;
	width: 100%;
	border-top: 5px solid #f0f0f0;
	margin-top: 2rem;
	color: white;
	list-style: none;
	min-height: 300px;
	padding: 1em;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 0.8em;
	display: none;
}

#outputsection{
	padding: 12.8rem 3rem 3rem 0;
	display: flex;
	flex-flow: row nowrap;
/* 	background: yellow; */
}


#column{
	background-image: url('../background.svg');
	background-repeat: no-repeat;
	background-position:left bottom;
	background-size: 80%;
}

#column.blocksatz{
	background-image: none;
}


.col{
	width: 600px;
	min-height: 400px;
	overflow: visible;
	font-size: 25px;
	font-family: 'Arcus';
	font-variation-settings: 'wdth' 100;
	background-color: #ffffff;
	border-top: 2px solid rgba(255, 167, 255, 1);
	border-bottom: 2px solid rgba(255, 167, 255, 1);
	border-left: 2px solid rgba(204, 153, 255, 1);
	border-right: 2px solid rgba(204, 153, 255, 1);
	box-shadow: 1px 1px 30px 10px #ccc;
	margin-left: 3rem;
}

.wrapper{
	display: inline-flex;
	width: auto;
	flex-flow: column nowrap;
	align-items: flex-end;
}

.resizehandle{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	padding-bottom: 0.8em;
	cursor:col-resize;
}

.remove-col{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	padding-bottom: 0.8em;
	cursor: pointer;
	height:30px;
}

#character-count{
	margin-right: 0.5em;
	color: #AAA;
}

.resizesymbol{
	width: 7px;
	height: 30px;
	background: #ff00ff;
	cursor:col-resize;
}

.line{
/*  	display: block; */
/* 	width: 100%; */
	white-space: nowrap;
}

.line.full{
	display: inline-block;
	position: relative;
 	width: 100%;
}

.leftSpaceIndicator{
	color: red;
	position: absolute;
	left: -1em;
	z-index: 100;
}



/** Text Preview **/

.preview .resizehandle,
.preview .leftSpaceIndicator,
.preview #inputsection,
.preview .remove-col,
.preview #clone
{
	visibility: hidden;
}

.preview .col{
	border: 2px solid transparent!important;
	box-shadow: none;
}

body.preview{
	background: white;
}


/* Debugging */
/*
 .line:nth-of-type(odd){
	color: #ff00ff;
}

.line:nth-of-type(even){
	color: #00ff00;
}
 */